<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <h1 class="home-title"> <a href="<%= bands_url %>">Music App</a> </h1>
      <aside class="log-in-out-buttons">
        <% if logged_in? %>
          Signed in as <%= current_user.email %>
        <% end %>
        <%= render 'shared/log_in_out' %>
      </aside>
    </nav>

    <%= yield %>
  </body>
</html>
